@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.cronometer-header {
  padding: 20px;
  background-color: #3E2A35;
  display: flex;
  justify-content: flex-end;
}

.cronometer-page {
  margin: 30px 0;
  text-align: center;
}

.cronometer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-controller {
  display: flex;
  align-items: center;
}

.time-controller input {
  font-family: 'Odibee Sans', cursive;
  text-align: center;
  font-size: 80px;
  margin: 0;
  width: 100px;
  height: 100px;
}

.double-dots {
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 14px;
}

.time-starter {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.predefined-times {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 30px;
}

.iframeSec {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.iframeSec h3 {
  text-align: center;
}

.pt {
  width:40%
}

.playlist-buttons {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.playlist-turmas {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer {
  background-color: #3E2A35;
  display: flex;
  justify-content: space-between;
  max-height: 30px;
  align-items: center;
}

.credits {
  width: 50%;
  color: white;
  font-family: 'Staatliches', cursive;
  font-weight: 400;
  font-size: 20px;
}

.network {
  display: flex;
  font-size: 30px;
}

.network a {
  color: white;
  margin: 0 10px;
}

.network a:hover {
  color: #525252;
}

.credits, .network {
  padding-top: 40px;
}

.darkmode {
  border: none;
  background-color: transparent;
  font-size: 40px;
  color: white;
}

.darkmode:hover {
  color: #525252;
}